<footer class="site-footer">

  <div class="wrap">

    <!--h2 class="footer-heading">{{ site.title }}</h2-->

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column">
      <ul>

        <li style="display:inline-block"><a class="icn-facebook" target="_blank" href="https://www.facebook.com/vineela.jagana"><span class="icn"></span></a></li>
        <li style="display:inline-block"><a class="icn-twitter" target="_blank" href="https://twitter.com/vineelajagana"><span class="icn"></span></a></li>


<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async  data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

      </ul>
    </div>

    <div class="footer-col-3 column">
      <!--p class="text">{{ site.description }}</p-->
      <p class="text">
        <img src="http://counter6.statcounterfree.com/private/freecounterstat.php?c=af5a0ee7f8d23bd66116944a803a96ab" border="0" title="free counter" alt="free counter">

        <img border="0" src="http://counter6.freecounterstat.com/private/counter.php?c=d530558b2647fb022356fe625219a3b6&amp;init=1404845771165&amp;init_freecounterstat=0&amp;library=library_counters&amp;coef=1&amp;type=841&amp;lenght=4" alt="Click to see detail of visits and stats for this site" title="Click to see detail of visits and stats for this site">
      </p>
    </div>

  </div>

</footer>
