<footer class="site-footer">

  <div class="wrap">

    <!--h2 class="footer-heading">{{ site.title }}</h2-->

    <div class="footer-col-1 column">
      <ul>
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>

    <div class="footer-col-2 column" style="margin-top:-40px;">
      <ul>


<li>
      <a href="https://www.facebook.com/vineela.jagana" target="_blank" align="left"><img src="http://www.niftybuttons.com/dirtytag/facebook.png"></a>
</li>

<!-- Please call pinit.js only once per page -->
<script type="text/javascript" async  data-pin-hover="true" src="//assets.pinterest.com/js/pinit.js"></script>

      </ul>
    </div>

    <div class="footer-col-3 column">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
